<% layout('layouts/boilerplate')%>
    <div class="text-center bg-warning">
        <h2>MOSTRAR  EMPRESA</h2>
    </div>
    <div class="container">
        <% for (let empresa of detallesEmpresa)  {%> 
            
        <div class="row" >        
            <div class="row">
                
                <div class=" col-md-4">
                    <label for ="nombreEmp" > Empresa </label>
                    <input type="text" class="form-control" id="nombreEmp" name="EMPRESA" value='<%=empresa.EMPRESA%>' >
                </div>
                <div class=" col-md-4">
                    <label for ="nombreResp" > Contacto </label>
                    <input type="text" class="form-control"  id="nombreResp" name="CONTACTO" value='<%=empresa.CONTACTO%>' >
                </div>                        
                <div class=" col-md-4">
                    <label for ="email" > Email </label>
                    <input type="text" class="form-control" id="email" value='<%=empresa.EMAIL%>' name="EMAIL">
                </div>
            </div>
           <div class="row">
                <div class=" col-md-4">
                    <label for ="telefono" > Telefono </label>
                    <input type="text" class="form-control" id="telefono"  value='<%=empresa.TELEFONO%>' name="TELEFONO">
                </div>
            
                <div class=" col-md-4">
                    <label for ="practicas"> Practicas </label>
                    <input type="text" id="practicas" class="form-control" name="PRACTICAS" value='<%=empresa.PRACTICAS%>' >
                </div>
            
           </div>
           <div class="row mb-3">
            <label for="observaciones">OBSERVACIONES</label>
            <textarea name="OBSERVACIONES" id="observaciones" cols="10" rows="5"><%=empresa.OBSERVACIONES%></textarea>
          </div>
          
            <div  class="btn col-md-12">
                <a href="/empresas/listadoempresas" class="btn btn-outline-primary" > VOLVER AL LISTADO DE EMPRESAS</a>
            </div>
            <div  class="btn col-md-12">
                <a href="/empresas/editarempresa/<%=empresa.id%>" class="btn btn-outline-danger" > EDITAR EMPRESA</a>
            </div>
            <% } %>
      

    </div>
    </div>